
body {
  font-family: 'Arial', sans-serif;
  background-image: url('/assets/error-404-assets/clinica-fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #343a40;
  color: #f2f3f2;
  font-family: 'Arial', sans-serif;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body {
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.error-logo {
  width: 500px;
  margin: 0 auto 0 auto;
  height: auto;
  border-radius: 10%;
}
.error-message {
color: darkblue;
font-size: 18px;
}

.error-container {
  text-align: center;
  margin-bottom: 20px;
}

.btn-primary {
  display: block;
  margin: 20px auto;
}
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}