@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bokor&display=swap");

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  flex-grow: 1;
  background-color: #7c7c7c;
  color: #ffffff;
  margin-top: 5rem;
  padding: 3rem 2rem 0;
  min-height: 35vh;
}

footer .p-4 {
  margin-left: 1rem;
}



footer legend {
  display: flex;
  justify-content: center;
}

footer .a-logo {
  margin-bottom: 2rem;
}

footer .logo-footer {
  width: 100px;
  height: 100px;
}

/* Estilos para el formulario dentro del footer */
footer form {
  margin: 1rem;
}

/* Estilos para los enlaces del footer */
footer a {
  color: #ffffff;
}

/* Estilos para los íconos de redes sociales */
footer i {
  color: #ffffff;
}

/* Estilos para el texto de copyright */
footer small {
  color: #ffffff;
}