/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #efefef;
}

.contenedor {
    width: 100%;
    position: sticky;
    top: 0;
}

.contenedor .contenedor-navbar {
    width: 100%;
}

/* <!-- ***** ENCABEZADO *****--> */
.contenedor .contenedor-navbar .encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.logo>a>img {
    height: 15vh;
    width: auto;
}

.ubicacion>img {
    height: 9vh;
    width: auto;
}

.contenedor .contenedor-navbar .encabezado .ubicacion {
    display: flex;
    align-items: center;
}

.contenedor .contenedor-navbar .encabezado .ubicacion .ubicacion_texto {
    padding-left: 10px;
}


/* <!-- ***** SLIDER *****--> */
.contenedor .container {
    max-width: 1500px;
    /* Ajustable */
    width: 100%;
    padding: 40px 0;
}

.contenedor .container .slide-container {
    margin: 0 30px;
    margin-bottom: 25px;
    overflow: hidden;
}

.contenedor .container .slide-container .card {
    background: #fff;
    border-radius: 8px;
}

.contenedor .container .slide-container .card .image-box {
    height: 400px;
    display: flex;
    justify-content: center;
}

.contenedor .container .slide-container .card .image-box img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
}

.contenedor .container .slide-container .card .profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    padding: 15px;
}

.contenedor .container .slide-container .card .profile-details .name {
    font-size: 1.4rem;
    font-weight: 500px;
}

.contenedor .container .slide-container .card .profile-details .job {
    font-size: 0.9rem;
    font-weight: 500px;
    color: #4d4d4d;
}

.contenedor .container .slide-container .card .swiper-navBtn {
    color: #000;
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 50%;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 25px;
}

.swiper-scrollbar {
    cursor: pointer;
}

.swiper-pagination-bullet {
    background-color: #000;
}

@media (max-width: 1230px) {
    .card .profile-details .name {
        font-size: 1rem;
    }
}

@media (max-width: 860px) {
    .contenedor .container .slide-container .card .profile-details .name {
        font-size: 1rem;
    }

    .contenedor .container .slide-container .card .swiper-navBtn {
        display: none;
    }
}

@media (max-width: 540px) {
    .contenedor .container .slide-container .card .profile-details .name {
        font-size: 1rem;
    }

    .contenedor .container .slide-container .card .swiper-navBtn {
        display: none;
    }
}

@media (max-width: 340px) {
    .contenedor .container .slide-container .card .profile-details .name {
        font-size: 1rem;
    }

    .contenedor .container .slide-container .card .swiper-navBtn {
        display: none;
    }

    main {
        margin-top: 2rem;
    }
}