.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.logo>a>img{
    height: 15vh;
    width: auto;
}
.ubicacion>img{
    height: 9vh;
    width: auto;
}
.ubicacion{
    display: flex;
    align-items: center;
}
.ubicacion_texto{
    padding-left: 10px;
}