* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
  body {
    /*Primera opción*/
      background: rgb(148, 198, 255);;
   /*  Segunda opcioón */
      /* background: #9ee2fa; */
    justify-content: center;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .form-register {
    width: 70vw;
    background: #fcfcfc;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 4px;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(133, 133, 133);
  }
  
  .controls {
    width: 100%;
    background: #e4e4e4;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px;
   
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 12px;
    color: rgb(133, 133, 133);
    line-height: 40px;
  }
  
  .form-register a {
    color:rgb(91, 91, 250);
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: rgb(148, 198, 255);
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    /* background: rgb(17, 219, 255); */
    background: #c7f5f5;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 12px;
    color: rgb(32, 4, 4);
    margin: 16px 0;
    font-size: 16px;
  }
  
  select, option{
    color: black;
  }
  a:visited{
    text-decoration: none;
    color: black;
  }
  .esconder{
    display: none;
  }

  .divisiones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
  }
  .division1, .division2{
    padding: 1rem;
    width: 50%;
  }

  /* RESPONSIVE */
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .divisiones{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .division1, .division2{
    width: 100%;
    padding: 0;
  }
  .form-register{
    width: 80vw;
    
  }
  .form-register h4{
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .divisiones{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .division1, .division2{
    width: 100%;
  }
  
}