.body-acerca {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f8f9fa;
  color: #333;
  padding:5vw 10vw;
}

.miembros {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.miembro {
  text-align: center;
  max-width: 100%;
}

.miembro img {
  height: auto;
  border-radius: 100%;
  max-width: 30vh;
}

.miembro h3 {
  font-size: 18px;
  margin-top: 10px;
  max-width: 100%;
}

.miembro p {
  font-size: 14px;
  color: gray;
  max-width: 100%;
}

.logo-rolling-medical {
  width: 100px;
  height: 100px;
}

.footer-acerca-de {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.animated-h2 {
  transition: color 0.5s ease;
}

@keyframes changeColor2 {
  0% {
    color: #0066ff;
  }
  50% {
    color: #2eb1ff;
  }
  100% {
    color: white;
  }
}

.animated-h2 {
  animation: changeColor2 2s linear infinite;
}

.acerca-text {
  margin-left: 10px;
}

.destacado {
  font-size: 1.2rem; 
  font-weight: bold; 
}

.animated-text {
  transition: color 0.5s ease;
}

@keyframes changeColor {
  0% {
    color: red;
  }
  25% {
    color: blue;
  }
  50% {
    color: green;
  }
  75% {
    color: orange;
  }
  100% {
    color: purple;
  }
}
.animated-text {
  animation: changeColor 5s linear infinite;
}

@keyframes sparkleAnimation {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.sparkle {
  position: absolute;
  width: 20px; 
  height: 20px; 
  pointer-events: none; 
  animation: sparkleAnimation 1s linear infinite; /* Animación para simular el brillo */
}

/* Estilos adicionales para hacer responsive */
/* Media query para dispositivos móviles */
@media (max-width: 576px) {
  body{
    padding-top: 50px;
  }
  
  .titulo{
    font-size: 25px;
    padding-top: 50px;
  }
  .acerca-text {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .destacado{
    font-size: 14px;
  }
  .miembro img {
    height: auto;
    border-radius: 100%;
    max-width: 35vh;
  }
}
@media (min-width:577px) and (max-width: 767px) {
  body{
    padding-top: 500px;
  }
  .titulo{
    padding-bottom: 20px;
  }
  .acerca-text {
    font-size: 20px;
  }
  .destacado{
    font-size: 20px;
  }
  .miembro img {
    height: auto;
    border-radius: 100%;
    max-width: 25vh;
  }
}

/* Media query para tablets */
@media (min-width: 768px) and (max-width: 1206px) {
  .titulo{
    font-size: 30px;
    padding-bottom: 20px;
    justify-content: center;
  }
  .acerca-text {
    font-size: 20px;
    padding: 30px 25px;
  }
  .miembro img {
    height: auto;
    border-radius: 100%;
    max-width: 30vh;
  }
  /* Estilos específicos para tablets */
}


